*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.nav{
    width: 100%;

}
input[type="text"]::placeholder {
    text-align: center;
  }

.search input{
    padding: 6px;
    margin: 15px 0  0 32px;
}
.search {
    position: relative;
}
.search img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 23px;
    left: 40px; 
}
.btn{
    display: flex;
    float: right;
}
.item{
    padding: 24px;
    border-radius: 30px;
}

.item:hover {
    background-color: aqua;
}

.content { 
    margin-top: 40px;
     margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
}

.content .member {
    display: flex;
    flex-flow: row wrap;
    grid-column: 1/2;
}


.content .member-2 {
    display: flex;
    flex-flow: row wrap;
    grid-column: 2/3;
    
}

.content .member-3 {
    display: flex;
    flex-flow: row wrap;
    grid-column: 3/4;
    
}

.content .member-4 {
    display: flex;
    flex-flow: row wrap;
    grid-column: 1/2;
    grid-row: 2/3;
}

.content .member-5 {
    display: flex;
    flex-flow: row wrap;
    grid-column: 2/3;
    grid-row: 2/3;
    
}

.content .member-6 {
    display: flex;
    flex-flow: row wrap;
    grid-column: 3/4;
    grid-row: 2/3;
    
}


 .pic {
    text-align: center;
   width: 50%;
   height: 100%;
}
.pic img {
    margin-top: 5%;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.info {
    width: 50%;
    height: 100%;
}

.info .name {
    margin-top: 10px;
}

.btn-style button  {
    background-color: white;
    border: 1px solid #BFC8E6;
    border-radius: 10px;
    padding: 4px;
    margin-top: 10px;
    color: #516FD4;
    width: 35%;
    font-family: Poppins;
}


